.image-logo {
  margin-left: 55px;

  @media (min-width: $tablet-width) {
    margin-left: 13px;
  }
}

.image-logo--footer {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 40px 90px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
