.image-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    position: relative;
    transform: translate(0);
    margin-left: 14px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.image-logo--footer {
  margin: 0;
  position: relative;
  mask-image: url("../../images/main-logo-mobile.svg");
  mask-repeat: no-repeat;
  mask-size: 128px 24px;
  background-color: currentColor;


  &:hover {
    background-color: #3e3e3e;
  }

  &:focus {
    background-color: #6b6b6b;
  }

  @media (min-width: $tablet-width) {
    top: 0;
    width: 128px;
    height: 24px;
  }
}
