.main-footer {
  padding: 0 20px;
  display: flex;

  @media (min-width: $mobile-width) {
    flex-direction: column;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
  }
}

.main-footer__container {
  padding: 40px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px;
    background-color: $bg-color;
  }
}

.main-footer--adress {
  padding: 26px 20px;
}

.main-footer__adress--white {
  background-color: $white;
}

.main-footer__adress--gray {
  background-color: $bg-color;
}

.main-footer__map {
  width: 100%;
  border: none;
  display: block;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.main-footer__logo {
  height: 24px;
  width: 128px;
  margin: 0 auto 40px;
  display: block;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__social {
  padding: 0;
  justify-content: center;
  display: flex;
  gap: 24px;
  margin: 0 0 40px;
  list-style-type: none;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #d9d9d9;
    width: 100%;
    position: absolute;
  }

  &::before {
    top: 40px;
  }

  &::after {
    bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

.main-footer__social-link {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 22px;
    background-color: #666666;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

  &:hover::before {
    background-color: $basic-green;
  }

  &:focus::before {
    background-color: $basic-green;
  }

  &:active::before {
    background-color: $basic-green;
    opacity: 0.3;
  }

  &--vk::before {
    mask-image: url("../../icons/stack.svg#vkontakte-logo");
  }


  &--yutb::before {
    mask-image: url("../../icons/stack.svg#youtube-logo");
  }

  &--tlgm::before {
    mask-image: url("../../icons/stack.svg#telegram-logo");
  }
}

.main-footer__academy-logo-container {
  position: relative;
}

.main-footer__academy-logo-link {
  text-decoration: none;
  display: block;
  width: fit-content;

  @media (min-width: $tablet-width) {
    padding: 0;
    gap: 23px;
  }
}

.main-footer__academy-logo {
  position: absolute;
  right: 0;
}

.main-footer__academy-title {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: $dark-grey;
}
