.main-header {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.main-header__container {

  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;

    @media (min-width: $desktop-width) {
      margin-bottom: 110px;
      padding-bottom: 0;
    }
  }

  &--opposite {
    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.main-header__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.main-header__logo-picture {
}
