.main-header {
  display: flex;
  width: 320px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    width: 704px;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-top: 55px;
  }
}

.main-header__wrapper {
  position: relative;
  flex-direction: column;
  display: flex;
  padding: 0 20px 15px;
}

.main-header__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.main-header__logo-picture {
}
