.main-header {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    width: 708px;
    padding: 0 30px;
  }


  @media (min-width: $desktop-width) {
  }
}

.main-header__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  position: relative;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-header__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.main-header__logo-picture {
}
