.main-footer {
  padding: 0 20px;
  width: 100%;

  @media (min-width: $mobile-width) {
    flex-direction: column;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
  }
}

.main-footer__container {
  padding: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px;
    background-color: $bg-color;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.main-footer--adress {
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 80px;
    position: absolute;
    z-index: 1;
    background-color: $white;
    width: 30%;
    margin: 95px 0 0 110px;
  }
}

.main-footer__adress--white {
  background-color: $white;
}

.main-footer__adress--gray {
  background-color: $bg-color;
}

.main-footer__map {
  width: 100%;
  border: none;
  display: block;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.main-footer__logo {
  height: 24px;
  width: 128px;
  display: block;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__social {
  padding: 0;
  justify-content: center;
  display: flex;
  gap: 24px;
  list-style-type: none;
  position: relative;
  margin: 0;


  @media (min-width: $tablet-width) {
    padding: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

.main-footer__social-link {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 22px;
    background-color: #666666;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }

  &:hover::before {
    background-color: $basic-green;
  }

  &:focus::before {
    background-color: $basic-green;
  }

  &:active::before {
    background-color: $basic-green;
    opacity: 0.3;
  }

  &--vk::before {
    mask-image: url("../../icons/stack.svg#vkontakte-logo");
  }


  &--yutb::before {
    mask-image: url("../../icons/stack.svg#youtube-logo");
  }

  &--tlgm::before {
    mask-image: url("../../icons/stack.svg#telegram-logo");
  }
}


.main-footer__academy-logo-link {
  text-decoration: none;
  display: block;
  width: fit-content;

  @media (min-width: $tablet-width) {
    padding: 0;
    gap: 23px;
    display: flex;
    align-items: center;
  }
}

.main-footer__wrap {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 95px;

  &:last-child {
    border-bottom: none;
    position: relative;
    display: block;
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.main-footer__academy-logo {
  position: absolute;
  right: 0;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.main-footer__academy-title {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: $dark-grey;
}
