.product-cards {
  padding: 25px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 75px;
  }
}

.product-cards__wrapper {
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 325px 325px;
    gap: 140px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 250px 250px 250px 250px;
  }
}

.product-cards__title {
  width: 100%;
  text-align: center;
  text-wrap: nowrap;
  margin: 0 auto 50px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100vw;
    height: 1px;
    background-color: #d9d9dd;
    position: absolute;
    left: -100%;
    box-shadow: 100vw 0 #d9d9dd;
  }

  &::before {
    bottom: 55px;
  }

  &::after {
    top: 56px;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 165px;

    &::before,
    &::after {
      display: none;
    }
  }
}

.product-cards__item {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 55px 50px;
  margin-bottom: 20px;

  &::after {
    content: "";
    background-color: #d9d9dd;
    width: 100vw;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    left: -100%;
    box-shadow: 100vw 0 0 #d9d9dd;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: $bg-color;
    margin: 0;

    &::after {
      display: none;
    }
  }
}

.product-cards__image {
  @media (min-width: $tablet-width) {
    position: absolute;
    left: 85px;
    top: -81px;
  }
}

.product-cards__link {
  width: 76px;
  text-decoration: none;
  color: $light-grey;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 135px;
    text-align: center;
  }
}

.product-cards__picture-link {
  grid-row: 1 / 3;
  margin-top: 10px;
}

.product-cards__name {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding-top: 160px;
  }
}

.product-cards__stats {
  margin: 0;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 70px 70px;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    grid-template-columns: 125px 125px;
  }
}

.product-cards__button {
  padding: 10px 110px;
  grid-column: 1/3;
  text-decoration: none;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 25px;
}
