.usability {
  color: $dark-grey;
  padding: 20px 20px 50px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 150px;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 768px;
      height: 1px;
      background-color: #e6e6e6;
      position: absolute;
      bottom: 50px;
      left: 0;
    }
  }
}

.usability__tittle {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 32px;
  }
}

.usability__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 37px 145px;
  }
}

.usability__item {
  padding: 40px 0 24px;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  display: flex;
  align-items: center;

  &--leaf::before,
  &--powder::before,
  &--cutlery::before,
  &--clock::before {
    content: "";
    width: 122px;
    height: 60px;
    display: inline-block;
    background-color: $basic-green;
    margin-right: 20px;
  }

  &--leaf::after {
    content: "";
    mask-image: url("../../icons/stack.svg#leaf");
    background-color: $white;
    position: absolute;
    width: 26px;
    height: 30px;
    top: 57px;
    left: 15px;
  }

  &--powder::after {
    content: "";
    mask-image: url("../../icons/stack.svg#powder");
    background-color: $white;
    position: absolute;
    width: 26px;
    height: 30px;
    top: 57px;
    left: 15px;
  }

  &--cutlery::after {
    content: "";
    mask-image: url("../../icons/stack.svg#cutlery");
    background-color: $white;
    position: absolute;
    width: 26px;
    height: 30px;
    top: 57px;
    left: 15px;
  }

  &--clock::after {
    content: "";
    mask-image: url("../../icons/stack.svg#clock");
    background-color: $white;
    position: absolute;
    width: 26px;
    height: 30px;
    top: 55px;
    left: 15px;
  }

  @media (min-width: $tablet-width) {
    padding: 151px 0 57px;
    width: 230px;
    background-repeat: no-repeat;
    background-position: right;

    &--leaf {
      background-image: url("../../icons/background-one.svg");
      background-size: 112px 280px;
    }

    &--powder {
      background-image: url("../../icons/background-two.svg");
      background-size: 134px 280px;
    }

    &--cutlery {
      background-image: url("../../icons/background-three.svg");
      background-size: 134px 280px;
    }

    &--clock {
      background-image: url("../../icons/background-four.svg");
      background-size: 136px 280px;
    }

    &--leaf::before,
    &--powder::before,
    &--cutlery::before,
    &--clock::before {
      width: 80px;
      height: 80px;
      position: absolute;
      margin: 0;
      top: 40px;
    }

    &--leaf::after {
      top: 66px;
      left: 28px;
    }

    &--powder::after {
      top: 66px;
      left: 28px;
    }

    &--cutlery::after {
      top: 66px;
      left: 28px;
    }

    &--clock::after {
      top: 66px;
      left: 28px;
    }
  }
}

.usability__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
