.welcome {
  color: $white;


  @media (min-width: $tablet-width) {
    color: $black;
    position: relative;
  }
}

.welcome__wrapper {
  width: 320px;
  min-height: 305px;
  background-size: 320px 305px;
  z-index: -1;
  position: relative;
  background-image: url("../../images/background-image-cat.png");

  &::before {
    content: "";
    display: block;
    background-color: $basic-green;
    opacity: 85%;
    width: 320px;
    height: 305px;
    position: absolute;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    display: flex;
    flex-direction: column;
    width: 708px;
    z-index: 1;

    &::before {
      display: none;
    }
  }
}

.welcome__tittle {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 25px 35px;

  @media (min-width: $tablet-width) {
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    width: 416px;
    padding: 50px 234px 40px 90px;
  }
}

.welcome__slogan {
  text-align: center;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    text-transform: uppercase;
    text-align: start;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    padding-left: 90px;
  }
}

.welcome__image-can {
  margin: -143px 0 0 20px;

  @media (min-width: $tablet-width) {
    margin-top: -20px;
  }
}

.welcome__choose-programm {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  list-style-type: none;
  color: $white;
  background-color: $basic-green;
  padding: 10px 63px;
  display: block;
  text-align: center;
  margin: 0 20px 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    width: 192px;
    position: absolute;
    top: 310px;
    left: 72px;
  }
}
